<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TwistterServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>Login Web Service</description>
		<display-name>LoginWebService</display-name>
		<servlet-name>LoginWebService</servlet-name>
		<servlet-class>hessianws.impl.LoginWebServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginWebService</servlet-name>
		<url-pattern>/LoginWebService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Timeline Web Service</description>
		<display-name>TimelineWebService</display-name>
		<servlet-name>TimelineWebService</servlet-name>
		<servlet-class>hessianws.impl.TimelineWebServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TimelineWebService</servlet-name>
		<url-pattern>/TimelineWebService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Register Web Service</description>
		<display-name>RegisterWebService</display-name>
		<servlet-name>RegisterWebService</servlet-name>
		<servlet-class>hessianws.impl.RegisterWebServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegisterWebService</servlet-name>
		<url-pattern>/RegisterWebService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Update Status Web Service</description>
		<display-name>UpdateStatusWebService</display-name>
		<servlet-name>UpdateStatusWebService</servlet-name>
		<servlet-class>hessianws.impl.UpdateStatusWebServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateStatusWebService</servlet-name>
		<url-pattern>/UpdateStatusWebService</url-pattern>
	</servlet-mapping>
</web-app>
